body,
div,
a,
label {
	font-family: '微软雅黑', "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
}

body,
ul,
p {
	margin: 0;
	padding: 0;
}

#head img {
	width: 100%;
}

h5 {
	text-align: center;
	font-size: 1.2em;
	margin: 1em auto 0.5em;
}

p {
	text-align: center;
	font-size: 1em;
	color: #737373;
	margin: 0.5em auto 1em;
}

.box{
	
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 1em;
}

.box_qrcord{
	float: left;
	display: inline-block;
	text-align: right;
	width: 49%;
	height: auto;
	padding-right: 1em;
}

.box_down{
	float: right;
	display: inline-block;
	width: 49%;
	padding-left: 1em;
}

.box_down div{
	width: 7em;
	height: 2em;
	border: #F1528B 1px solid;
	border-radius: 2em;
	text-align: center;
	line-height: 2em;
}

.ios{
	margin-top: 1em;
}

